        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #006266;
        }

        .box {
            border: 2px solid black;
            padding: 20px;
            width: 300px;
            text-align: center;
            background: #c6cece;
            border-radius: 15px;
            box-shadow: 0 14px 22px rgba(0, 0, 0, 0.55);
        }

        input {
            text-align: center;
            margin: 5px;
            border: 2px solid #000000;
            border-radius: 8px;
            width: 150px;
            height: 25px;
        }

        button {
            margin: 7px;
            background-color: #f0f0f0;
            border: 2px solid #000000;
            border-radius: 8px;
            color: #000000;
            padding: 8px 54px;
            cursor: pointer;
            font-family: sans-serif;
            /* margin: 4px 0; */
        }

        button:hover {
            background-color: #00969b;
            opacity: 0.8;
            transform: translateY(-1px);
        }

        button:active {
            background-color: #d0d0d0;
        }

        .footer {
            display: flex;
            justify-content: center;
            font-size: 12px;
            color: #354598;
            padding-top: 10px;
            font-weight: bolder;
        }